:root {
  --color-1-background: #C4EDFC;
  --color-2-background: #A2F9CF;
  --color-3-background: #FFFFFF99;
  --button-color-1: #1D61E7;
  --button-color-2: #25B4E5;
  --text-color-1: #FFFFFF;
  --text-color-2: #4D81E7;
  --text-color-3: #6C7278;
  --text-color-4: #111827;
  --text-color-5: #D2EBE7;
  --border-radius-1: 12px;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-container {
  background: var(--color-3-background);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: auto;
  box-shadow: 0 -2px 8px #00000010;
}

.footer-container a {
      border: 1px solid var(--text-color-1);
    box-shadow: 0px 1px 2px 0px #253EA77A;
    cursor: pointer;
  text-decoration: none;
      background: linear-gradient(90deg, #1D61E7 0%, #1D61E7 100%),
    linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 8px 12px;
  color: var(--text-color-1);
  border-radius: var(--border-radius-1);
}

.footer-copy {
  font-size: 0.85rem;
  color: var(--text-color-3);
  text-align: center;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 768px) {
  .footer-container {
    padding: 18px 25px;
  }

}

@media (max-width: 480px) {
  .footer-container {
    padding: 15px 20px;
  }

}